<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="morelinq" version="2.5.0" targetFramework="net45" />
  <package id="Pri.LongPath" version="2.0.45" targetFramework="net45" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net45" />
</packages>